<div class="container">
  <div class="top-contents">
    <h1 style="margin-top: 40px;">Post 一覧</h1>
    <%= link_to 'New Post', new_post_path, type: "button", class: "btn btn-outline-dark btn-rounded" %>
  </div>
  <hr>
  <div class="d-flex justify-content-center align-items-start" style="height: 100vh; flex-wrap: wrap;">
    <% @posts.each do |post| %>
      <div class="card shadow-2-strong" style="margin: 15px;">
        <%= image_tag post.image.variant(resize: '400x500'), class: 'card-img-top' if post.image.attached? %>
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text">
            <%= post.description %>
          </p>
          <a href="#!" class="btn btn-primary">Update</a>
          <%= link_to 'DELETE', post_path(post.id), method: :delete, class:'btn btn-dark' %>
        </div>
      </div>
    <% end %>
    
  </div>
</div>