<div class="container">
  <h1 style="margin-top: 40px;">Post 投稿</h1>
  <hr>
  <br>
  <div class="col-md-6">
  <%= form_with model: @post, url: posts_path, class:'form-wrap', local: true do |f| %>
      <div class="input-group mb-3">
        
        <%= f.text_area :title, class:"form-control", placeholder:"Title", rows: "1" %>
      </div>

      <div class="form-outline">
        <%= f.text_area :description, class:"form-control", id:"textAreaExample" , rows:"4", placeholder:"description", maxlength:"500" %>
      </div>
      <br>
      <label class="form-label" for="customFile">画像をアップロード</label>
      <%= f.file_field :image, type:"file", class:"form-control", id:"customFile" %>
      <br>
      <%= f.submit "Submit", class: "btn btn-info" %>
    </div>
  <% end %>
</div>