<div class="container">
  <h1 class="detail-title">Post 詳細</h1>
  <hr>
  <div class="d-flex align-items-start detail-contents">
    <div class="col-6">
      <div class="card shadow-2-strong">
        <%= image_tag @post.image.variant(resize: '400x500'), class: 'card-img-top' if @post.image.attached? %>
        <div class="card-body">
          <h5 class="card-title">
            <%= @post.title %>
            <small class="user-name">by <%= @post.user.nickname %></small>
          </h5>
          <p class="card-text">
            <%= @post.description %>
          </p>
          <div class="bottom-contents">
            <% if user_signed_in? && @post.user_id == current_user.id %>
              <%= link_to edit_post_path(@post.id), class:"btn btn-danger btn-floating" do %>
                <i class="fas fa-edit"></i>
              <% end %>
              <%= link_to post_path(@post.id), method: :delete, class:'btn btn-dark btn-floating' do %>
                <i class="fas fa-trash"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 comments-box">
      <h2><i class="fas fa-comment"></i> Comments</h2>

      <%# <div class="form-outline">
        <input type="text" id="formControlDefault" class="form-control form-control-lg" />
        <label class="form-label" for="formControlDefault">コメントをする</label>
      </div> %>

      <% if user_signed_in? %>
        <%= form_with(model: [@post, @comment], local: true) do |form| %>
          <div class="form-outline">
            <%= form.text_field :content, id:"formControlDefault", class:"form-control form-control" %>
            <label class="form-label" for="formControlDefault">公開コメントを入力</label>
          </div>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>

      <% if @comments %>
        <ul class="list-group comment-list">
          <% @comments.each do |comment| %>
            <li class="list-group-item">
                <strong><%= comment.user.nickname %>：</strong>
                <%= comment.content %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>